body {
    font-family: sans-serif;
    color: aliceblue;
    background-color: white;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: serif;
    font-weight: 700;
  }

header {
      background-color: rgb(29, 78, 151);
      color: aliceblue;
      text-align: center;
}

form {
  flex: 5%;
  display: block;
}

main{
  display: flex;
}

.container{
  flex: 95%;
}

ul{
  justify-content: space-between;
}

li{
  display: inline-block;
  background-color: rgb(29, 65, 102);
}

.searchedCity{
  background-color: #babec2c9;
}